html * {
  font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  margin: 0;
  padding: 0;
}

html {
  min-width: 340px;
}

body {
  display: block;
  max-width: 65em;
  margin: 0 auto;
  padding: 4px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 68px;
}

nav {
  align-self: last baseline;
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    gap: 12px;
  }

  nav ul {
    align-self: flex-end;
  }
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type:  none;
}

nav ul li {
  display: inline-block;
  position: relative;
  padding-left: 1.5rem;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.25rem;
  display: inline-block;
  position: relative;
}

nav ul li a img {
  height: 24px;
  width: 24px;
}

main {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 68px - 8px);
}

main.greeting {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

main.greeting h1 {
  font-weight: 600;
  padding-bottom: 1.5rem;
}
