{{ define "main" }}

<div class="projects">
      <div class="content-block-title">
        <h1>{{ .Title }}</h1>
  </section>

  <section class="banner-section">
    <div class="cards-section">
      {{ range $index, $element := .Pages }}

      <a class="section-card" href="{{ .RelPermalink }}">
        <h2>{{ .LinkTitle }}</h2>
        <p>{{ .Summary }}</p>

        <div class="chips">
          {{ range .Params.technology }}
          <span>
            <p class="chip">{{ . }}</p>
          </span>
          {{ end }}
        </div>
      </a>
      {{ end }}
    </div>
  </section>
</div>
{{ end }}
