<div class="about">
    <section class="banner-section">
        <div class="content-block">
            <div class="content-block-title">
                <h1>About Me</h1>
            </div>
            <p>
            I am a full-stack software engineer building systems that benefit businesses and their customers. Check out some of my personal work in <strong><a href="/projects">projects</a></strong> or scroll down to see my <strong><a href="#cv">CV</a></strong>.
            </p>
            <br />
            <p>
            Outside of work you can usually find me spending time with my beautiful family. We like to pretend we're homesteading our property so we are commonly found out in the garden, tending to our chickens, or just spending time outdoors in central Oregon.
            </p>
        </div>
    </section>
    <section class="banner-section">
        <div class="content-block">
            <div class="content-block-title">
                <h2 id="cv">Work Experience</h2>
                <div>
                    <div class="cv-entry">
                        <p class="when">2020 - Present</p>
                        <div class="details">
                            <a class="where" href="https://www.nvenergy.com">Senior Software Engineer @ NV Energy</a>
                            <p class="what">Led a team of 6 engineers to develop our customer portal and mobile application. Collaborated with the project stakeholders to design user experiences, manage timelines, and prioritize objectives.</p>
                            <div class="with">
                            <p class="chip">Angular</p>
                            <p class="chip">NodeJS</p>
                            <p class="chip">Golang</p>
                            <p class="chip">Azure</p>
                            </div>
                        </div>
                    </div>
                    <div class="cv-entry">
                        <p class="when">2017 - 2020</p>
                        <div class="details">
                            <a class="where" href="https://www.hamiltoncompany.com/">Software Engineer 2 @ Hamilton Company</a>
                            <p class="what">Worked with laboratory specialists to design and develop automation APIs for robots & lab devices. Created a robotics testing framework to automate hardware and firmware upgrades.</p>
                            <div class="with">
                                <p class="chip">C#</p>
                                <p class="chip">.NET</p>
                                <p class="chip">WPF</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
