<div>
  <div class="socials">
    <div class="category">
      <figure>
        <figcaption>Let's Connect</figcaption>
      </figure>
      <ul class="external">
        <li><a href="http://github.com/huffSamuel"> GitHub </a></li>
        <li>
          <a href="https://www.linkedin.com/in/sam-writes-software/">
            LinkedIn
          </a>
        </li>
        <li>
          <a href="https://stackoverflow.com/users/6425808/samuel-huff"
            >Stack Overflow</a
          >
        </li>
      </ul>     
    </div>
  </div>
</div>

<p class="copyright">Copyright {{ now.Year }}. All rights reserved.</p>
