<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="description" content="A portfolio website for me, Samuel Huff">
<meta name="keywords" content="Samuel Huff, portfolio, resume, website, github, developer, software engineer">
<meta name="author" content="Samuel Huff">
<meta name="color-scheme" content="normal">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
